@model  Entities.Concrete.Category

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Güncelleme</h2>

@using (Html.BeginForm("UpdateCategory", "AdminCategory", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Kategori Id")
    @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.Label("Kategori ")
    @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
    <button class="btn btn-dark">Kaydet</button>
</div>
}
